

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gradient-to-b from-rose-300/50 to-white
    }
}


@layer components {
    .header {
        @apply text-xl opacity-80 font-semibold cursor-pointer transition hover:opacity-100
    }
    .link {
        @apply relative cursor-pointer text-xl font-medium before:absolute before:inset-x-0 before:-bottom-1.5 
        before:h-0.5 before:origin-left before:scale-x-0 before:transform before:rounded-bl before:bg-red-500/80 
        before:transition-all before:duration-200 hover:before:scale-x-100
    }
    .sectionlink {
        @apply relative cursor-pointer text-lg font-medium before:absolute before:inset-x-0 before:-bottom-1.5 
        before:h-0.5 before:origin-left before:scale-x-0 before:transform before:rounded-bl before:bg-white 
        before:transition-all before:duration-200 hover:before:scale-x-100
    }

    .tabcontainer{
        @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3   gap-8
    }

    .borderGradient {
        text-align: center;
        padding-bottom: 5px;
        background: linear-gradient(to right, #ec4899, #8b5cf6) left bottom
          no-repeat;
        background-size: 100% 2px;
      }
    
}
